body {
	font-family: "Alef", sans-serif;
	font-size: large;
}


:target {
	background-color: #ECF3F9;
    /* -webkit-transition: all 1s linear; */
}

.bilingual_text td {
	padding-bottom: 1em;
}

.leftside {
	vertical-align: top;
}

.leftside a {
	color: inherit;
	text-decoration: inherit;
}

.leftside a:hover {
	background-color: #ECBFFF;
}

a.play_button:hover {
	background-color: inherit;
	color: #A260BF;
	cursor: pointer;
}

.rightside {
	vertical-align: top;
	direction: rtl;
}

.headword {
	font-weight: bold;
}

.subheadword {
	font-weight: bold;
	color: dimgrey;
}

.oed {
	color: grey;
	font-size: x-small;
	vertical-align: super;
}

.ipa {
	color: grey;
	font-size: small;
}

.grammar {
	color: grey;
	font-size: small;
}

.gloss {
	direction: rtl;
}

.note {
	direction: rtl;
	font-size: small;
}

.sublemmas {
	text-indent: 1em;
}
